<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <title>KONOSUBA | Login</title>
  <script defer src="script.js"></script>
</head>
  <body>
    <header class="kepala">
      <nav class="nav main-nav">
        <ul>
          <li><a href="index.html" target="_self">Home</a></li>
          <li><a href="about.html" target="_self">About</a></li>
          <li><a href="login.html">login</a></li>
          <li><a href="sign-up.html" target="_self">Daftar</a></li>
        </ul>
      </nav>
      <br>
      <h1 class="judul judul2">Ilmu komputer 2019</h1>
    </header>
    <section>
    <div class="login">
      <h1>Login</h1>
      <div id="error"></div>
      <form action="/login" id="form" methods="POST">
        <div class="text">
          <i class="fa fa-user" aria-hidden="true" id="user"></i>
          <input type="text" name="name" value="" id="nama" placeholder="Username or email"  >
          <hr>
        </div>
        <div class="text">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" name="password" value="" id="password"  placeholder="Password">
          <hr>
        </div>
        <button type="submit" name="button" class="login-btn">Login</button>
      </form>
    </div>
    </section>
    <footer class="footer-utama footer-login">
      <div class="kontainer footer-kontainer-utama">
      <h3 class="judul-konten">Made by me Satou Kazuma</h3>
        <ul class="nav footer-nav">
          <li><a href="https://www.instagram.com/maliefrr/" target="_blank">
                <img src="image/logo_ig.png" alt="" width="25px">
              </a>
          </li>
          <li><a href="https://web.facebook.com/alief.ndewo" target="_blank">
                <img src="image/logo_fb.png" alt="" width="25px">
              </a>
          </li>
          <li><a href="https://twitter.com/maliefrr14" target="_blank">
                <img src="image/logo_twitter.png" alt="" width="25px">
              </a>
          </li>
          <li><a href="https://www.youtube.com/channel/UCCR8xEESKeTGbxivhasoekw" target="_blank">
                <img src="image/logo_yt.png" alt="" width="25px">
              </a>
          </li>
        </ul>
        </div>
    </footer>
  </body>
</html>
